{
    "id":"autonomous_ships", # internal id
    "name":"Autonomous ships", # displayed to the player
    "author":"hqz, NightKev",
    "version":"%%VERSION%%",
    "description":"Allows the player to assign automated ship commands as hullmods",
    "gameVersion":"0.8.1a",
    "totalConversion":"false",
    "jars":["jars/org.tc.autonomous.jar"],
    "replace":[],
    "modPlugin":"org.tc.autonomous.AutonomousBasePlugin"
}
